._*
*~
comics/*.gif
comics/*.png
comics/*.jpg
comics/static/*.jpg
comics/static/*.png
comics/static/*.gif
node_modules/
include/config.php
template/default/sass/
template/fluffygang

android-chrome*
apple-touch-icon.png
browserconfig.xml
favicon*
mstile*
safari-pinned-tab.svg
site.webmanifest