@import url("https://fonts.googleapis.com/css?family=Londrina+Solid:300,400");
body {
  color: #fcfcfc;
  background-color: #1a090b;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 0 0; }

::selection {
  background-color: #fd960f;
  color: white; }

a {
  color: inherit; }

a:not([class]) {
  color: #fd960f; }

a:hover {
  color: orangered; }

a:active {
  color: #fd960f; }

.content .title:not(:last-child) {
  margin-bottom: 0.25rem; }

.content h1, .content h2, .content h3,
.content h4, .content h5, .content h6,
.navpage, .navbar, .section-top {
  font-family: "Londrina Solid", sans-serif;
  letter-spacing: 0.066rem;
  color: inherit;
  font-weight: 300; }

section.section {
  padding-top: 20px; }

.section-top {
  color: #1a090b;
  background-color: #fd960f;
  font-size: 1.75rem;
  text-transform: uppercase;
  text-align: center;
  padding: 15px 0;
  margin: 0 -15px; }

@media screen and (min-width: 800px) {
  .section-top {
    border-radius: 5px; } }

figure.image img {
  display: block; }

figure.image-banner {
  position: relative;
  padding-bottom: 18.75%; }

figure.image-banner img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

div.image-chapter {
  margin: 0;
  margin-top: 0;
  margin-bottom: 0.75rem;
  max-width: 200px;
  min-width: 200px;
  height: 283px; }

div.spacer {
  margin: 40px 0; }

.is-italic {
  font-style: italic;
  font-family: "Londrina Solid";
  font-weight: 300; }

.is-hidden {
  display: none !important; }

.is-hidden-touch {
  display: none; }

@media screen and (min-width: 800px) {
  span.is-hidden-touch {
    display: inline-block; }
  .is-hidden-touch {
    display: block; } }

.columns {
  display: flex;
  flex-direction: column; }

.columns.spaced {
  margin: 30px 0; }

.columns.is-multiline {
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between; }

.columns.is-multiline.start {
  justify-content: flex-start; }

@media screen and (min-width: 800px) {
  .columns {
    flex-direction: row; }
  .columns.is-multiline {
    justify-content: flex-start; } }

.column {
  width: 100%;
  display: block;
  flex: none; }

@media screen and (min-width: 800px) {
  .column {
    width: auto;
    flex: 1 1 0; }
  .column.is-2 {
    max-width: 16.5%; }
  .column.is-3 {
    max-width: 25%; }
  .column.is-4 {
    max-width: 33%; }
  .column.is-6 {
    max-width: 50%; }
  .column.is-8 {
    max-width: 66%; } }

.column.is-200 {
  width: 50%;
  padding: 0.25rem; }

@media screen and (min-width: 460px) {
  .column.is-200 {
    width: 33%; } }

@media screen and (min-width: 600px) {
  .column.is-200 {
    width: 25%; } }

@media screen and (min-width: 800px) {
  .column.is-200 {
    max-width: 150px;
    min-width: 150px; } }

.button, .input, .textarea, .select select, .file-cta, .filename {
  background: white;
  color: #363636;
  border: 1px solid #dbdbdb;
  padding: 0.75em;
  border-radius: 4px;
  box-shadow: none;
  display: inline-flex;
  line-height: 1.4; }

.button {
  font-weight: bold;
  font-size: 1rem;
  padding: 0.75rem 1.5rem;
  text-align: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.25s ease all; }

.button.is-primary {
  color: white;
  background-color: #fd960f; }

.button.is-danger {
  color: white;
  background-color: orangered; }

.button.is-small {
  padding: 0.5rem 1rem;
  margin-bottom: 0.75rem; }

.button:visited {
  background-color: whitesmoke; }

.button.is-primary:visited {
  background-color: #fd960f; }

.button:focus {
  border: 1px solid #fd960f; }

.button:hover {
  background-color: #fd960f;
  color: white; }

.button.is-disabled {
  background: lightgray;
  cursor: not-allowed; }

.button.is-disabled:hover {
  background: lightgray;
  color: black; }

.button.full {
  width: 100%;
  margin-bottom: 0.75rem; }

@media screen and (min-width: 800px) {
  .button.full {
    width: 95%; } }

.field {
  margin: 0.5rem 0; }

label.label {
  font-weight: bold;
  display: inline-block;
  margin-bottom: 0.5rem; }

.input, .textarea, .file-cta, .select select {
  max-width: 100%;
  width: 100%; }

.input, .textarea {
  box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.1); }

.textarea {
  min-height: 6rem; }

.select select {
  cursor: pointer;
  display: block;
  font-size: 1em;
  outline: none; }

.container {
  margin: 0 auto;
  padding: 0 15px;
  position: relative;
  max-width: 800px; }

.container.has-no-padding {
  padding: 0; }

main.main .container.has-no-background {
  background: transparent;
  color: white !important; }

header.header .container {
  background: transparent; }

main.main .container {
  padding-bottom: 20px;
  color: #1a090b;
  background: #fcfcfc; }

main.main .container h3 {
  color: inherit; }

footer.footer .container {
  padding-top: 20px;
  padding-bottom: 20px;
  color: #ccc;
  background: transparent; }

.header-banner {
  transition: 0.25s ease all; }

.header-banner:hover {
  opacity: 0.75;
  transition: 0.25s ease all; }

.navbar {
  color: white;
  font-size: 1.25rem;
  background: #1a090b;
  display: flex;
  justify-content: space-between; }

@media screen and (min-width: 800px) {
  .navbar {
    border-radius: 5px 5px 0 0; } }

.navbar-start {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex: 1 1 0; }

.navbar-item {
  font-weight: 400;
  display: block;
  padding: 0.75rem;
  border-bottom: 3px solid transparent; }

.navbar-item.active {
  color: #fd960f;
  border-bottom: 3px solid #fd960f; }

.navbar-item:hover {
  color: #fd960f;
  background: #3a0007; }

.navpage {
  color: white;
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 1.25rem 0.75rem 0; }

@media screen and (min-width: 800px) {
  .navpage {
    color: transparent;
    font-size: 1.25rem;
    font-weight: 400; } }

.navpage-item {
  padding: 28px;
  height: 64px;
  width: 64px;
  user-select: none;
  height: initial !important;
  text-align: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain; }

.navpage-item:hover {
  user-select: none;
  color: transparent; }

.navpage-item[rel=prev] {
  background-image: url("../../../image/nav_adjacent.png"); }

.navpage-item[rel=next] {
  background-image: url("../../../image/nav_adjacent.png");
  transform: scaleX(-1); }

.navpage-item[aria-button=first] {
  background-image: url("../../../image/nav_far.png"); }

.navpage-item[aria-button=last] {
  background-image: url("../../../image/nav_far.png");
  transform: scaleX(-1); }

.navpage-item[aria-button=archive] {
  background-image: url("../../../image/nav_archive.png"); }

@media screen and (min-width: 800px) {
  .navpage-item {
    height: 96px !important;
    width: 96px !important; } }

div.navpage-item {
  opacity: 0.15; }

a.navpage-item:hover {
  filter: brightness(125%); }

a.navpage-item:active {
  filter: brightness(200%); }

.description {
  margin-top: 0.75rem; }

ul.chapter-list form {
  display: inline-block; }

.chapter-move {
  margin: 0; }

.chapter-move > .button {
  font-size: 0.75rem;
  padding: 0.25rem 0.5rem; }

.comic {
  margin-left: -15px;
  margin-right: -15px; }

.comic img {
  width: 100%; }

.chapter .image {
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 2.5px;
  height: 200px;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }

.chapter-archive {
  display: flex;
  flex-direction: column;
  margin: 0.75rem 0; }

.chapter-archive:last-child {
  margin-bottom: -0.25rem; }

@media screen and (min-width: 500px) {
  .chapter-archive {
    flex-direction: row; } }

@media screen and (min-width: 500px) {
  .chapter-content {
    padding-left: 20px; } }

.chapter-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  padding: 1rem 0 1rem; }

.chapter-nav select {
  flex: 1 0 0;
  max-width: 100%;
  padding: 0.75rem;
  border-radius: 4px;
  font-weight: bold; }

.socialmedia {
  display: flex;
  justify-content: center; }

.socialmedia div {
  padding: 15px 10px 20px; }
