@import url("https://fonts.googleapis.com/css?family=Londrina+Solid:300,400");
/*! minireset.css v0.0.4 | MIT License | github.com/jgthms/minireset.css */
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal; }

ul {
  list-style: none; }

button,
input,
select,
textarea {
  margin: 0; }

html {
  box-sizing: border-box; }

*, *::before, *::after {
  box-sizing: inherit; }

img,
embed,
iframe,
object,
video {
  height: auto;
  max-width: 100%; }

audio {
  max-width: 100%; }

iframe {
  border: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }
  td:not([align]),
  th:not([align]) {
    text-align: left; }

body {
  color: #2d2d2d;
  background-color: #efefef;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 0 0;
  font-family: 'Segoe UI', sans-serif; }

::selection {
  background-color: #3273dc;
  color: white; }

a {
  color: inherit;
  text-decoration: none; }
  a:not([class]) {
    color: #3273dc; }
  a:hover {
    color: darkblue; }
  a:active {
    color: #3273dc; }

section {
  padding: 20px 0; }

figure.image img {
  display: block; }

figure.image-banner {
  position: relative;
  padding-bottom: 18.75%; }
  figure.image-banner img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

.is-hidden {
  display: none !important; }

.is-hidden-touch {
  display: none; }

@media screen and (min-width: 800px) {
  span.is-hidden-touch {
    display: inline-block; }
  .is-hidden-touch {
    display: block; } }

.button, .input, .textarea, .select select, .file-cta, .filename {
  background: white;
  color: #363636;
  border: 1px solid #dbdbdb;
  padding: 0.75em;
  border-radius: 4px;
  box-shadow: none;
  display: inline-flex;
  line-height: 1.4; }

.button {
  font-weight: bold;
  font-size: 1rem;
  padding: 0.75rem 1.5rem;
  text-align: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.25s ease all; }
  .button.is-primary {
    color: white;
    background-color: #3273dc; }
  .button.is-danger {
    color: white;
    background-color: darkblue; }
  .button.is-small {
    padding: 0.5rem 1rem;
    margin-bottom: 0.75rem; }
  .button:visited {
    background-color: whitesmoke; }
  .button.is-primary:visited {
    background-color: #3273dc; }
  .button:focus {
    border: 1px solid #3273dc; }
  .button.is-disabled {
    background: lightgray;
    cursor: not-allowed; }
  .button.is-disabled:hover {
    background: lightgray;
    color: black; }
  .button.full {
    width: 100%;
    margin-bottom: 0.75rem; }

.field {
  margin: 0.5rem 0; }

label.label {
  font-weight: bold;
  display: inline-block;
  margin-bottom: 0.5rem; }

.input, .textarea, .file-cta, .select select {
  max-width: 100%;
  width: 100%; }

.input, .textarea {
  box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.1); }

.textarea {
  min-height: 6rem; }

.select select {
  cursor: pointer;
  display: block;
  font-size: 1em;
  outline: none; }

.container {
  margin: 0 auto;
  padding: 0 15px;
  position: relative;
  max-width: 800px;
  background-color: white; }
  .container.has-no-padding {
    padding: 0; }
  .container.has-no-background {
    background-color: transparent;
    color: white; }

.header .container {
  background-color: transparent; }

.header-banner {
  transition: 0.25s ease all; }

.header-banner:hover {
  opacity: 0.75;
  transition: 0.25s ease all; }

.navbar {
  color: white;
  background: #2d2d2d;
  font-family: "Segoe UI", sans-serif;
  font-size: 1.25rem;
  font-weight: 400;
  display: flex;
  justify-content: space-between; }

@media screen and (min-width: 800px) {
  .navbar {
    border-radius: 5px 5px 0 0; } }

.navbar-start {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex: 1 1 0; }

.navbar-item {
  font-weight: 400;
  display: block;
  padding: 0.75rem;
  border-bottom: 3px solid transparent; }

.navbar-item.active {
  color: #3273dc;
  border-bottom: 3px solid #3273dc; }

.navbar-item:hover {
  color: #3273dc;
  background: #0d0d0d; }

footer.footer .container {
  padding-top: 20px;
  padding-bottom: 20px; }

.navpage {
  color: white;
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 1.25rem 0.75rem 0; }

@media screen and (min-width: 800px) {
  .navpage {
    color: transparent;
    font-size: 1.25rem;
    font-weight: 400; } }

.navpage-item {
  padding: 28px;
  height: 64px;
  width: 64px;
  user-select: none;
  height: initial !important;
  text-align: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain; }

.navpage-item:hover {
  user-select: none;
  color: transparent; }

.navpage-item[rel=prev] {
  background-image: url("../../../image/nav_adjacent.png"); }

.navpage-item[rel=next] {
  background-image: url("../../../image/nav_adjacent.png");
  transform: scaleX(-1); }

.navpage-item[aria-button=first] {
  background-image: url("../../../image/nav_far.png"); }

.navpage-item[aria-button=last] {
  background-image: url("../../../image/nav_far.png");
  transform: scaleX(-1); }

.navpage-item[aria-button=archive] {
  background-image: url("../../../image/nav_archive.png"); }

@media screen and (min-width: 800px) {
  .navpage-item {
    height: 96px !important;
    width: 96px !important; } }

div.navpage-item {
  opacity: 0.15; }

a.navpage-item:hover {
  filter: brightness(125%); }

a.navpage-item:active {
  filter: brightness(200%); }

.description {
  margin-top: 0.75rem; }

ul.chapter-list form {
  display: inline-block; }

.chapter-move {
  margin: 0; }

.chapter-move > .button {
  font-size: 0.75rem;
  padding: 0.25rem 0.5rem; }

section.updates {
  padding: 0; }
  section.updates .container {
    background: white; }
  section.updates .updates-header {
    color: #efefef;
    background-color: #2d2d2d;
    font-size: 1.75rem;
    font-family: "Segoe UI", sans-serif;
    text-transform: uppercase;
    text-align: center;
    padding: 15px 0;
    margin: 0 -15px;
    border-radius: 3px; }
  section.updates .updates-content {
    display: flex;
    color: #2d2d2d; }
    section.updates .updates-content div.rant {
      min-width: 50%; }
    section.updates .updates-content div.recently {
      min-width: 50%;
      padding-top: 20px; }
      section.updates .updates-content div.recently h2 {
        font-size: 18px;
        font-family: "Segoe UI", sans-serif; }
      section.updates .updates-content div.recently ul {
        list-style: circle;
        padding: 20px; }
      section.updates .updates-content div.recently li + li {
        margin-top: 10px; }

.comic {
  margin-left: -15px;
  margin-right: -15px; }
  .comic .comic-link {
    width: 50%;
    height: 100%;
    position: absolute; }
  .comic .prev {
    left: 0; }
  .comic .next {
    right: 0; }

.comic img {
  width: 100%; }

section.comic-content {
  background: transparent;
  padding: 20px; }
  section.comic-content h3 {
    font-family: "Segoe UI", sans-serif;
    font-size: 24px; }
  section.comic-content .date {
    font-family: "Segoe UI", sans-serif;
    font-style: italic;
    font-weight: 300; }
  section.comic-content .transcript {
    display: none; }

section.archive .title {
  font-size: 36px;
  font-family: "Segoe UI", sans-serif; }

.archive-item {
  display: flex;
  flex-direction: column;
  margin: 0.75rem 0; }
  .archive-item:last-child {
    margin-bottom: -0.25rem; }
  @media screen and (min-width: 500px) {
    .archive-item {
      flex-direction: row; } }
  .archive-item .cover-image {
    margin: 0;
    margin-top: 0;
    margin-bottom: 0.75rem;
    max-width: 200px;
    min-width: 200px;
    height: 283px; }
  .archive-item .content .title {
    font-size: 24px; }
  .archive-item .content .description {
    padding-bottom: 20px; }
  .archive-item .content .buttons {
    display: flex; }
    .archive-item .content .buttons .button-wrapper {
      min-width: 50%; }
    .archive-item .content .buttons .button-wrapper + .button-wrapper {
      padding-left: 10px; }
  @media screen and (min-width: 500px) {
    .archive-item .content {
      padding-left: 20px; } }

section.chapter .title {
  font-size: 30px;
  font-family: "Segoe UI", sans-serif;
  margin-bottom: -15px; }

section.chapter .description {
  margin-bottom: 20px; }

section.chapter .return {
  margin-bottom: 20px; }

section.chapter ul {
  display: flex;
  flex-wrap: wrap; }
  section.chapter ul li {
    min-width: 150px;
    flex: 1 1 0; }
    section.chapter ul li a {
      display: inline-block;
      border: 1px solid #111;
      border-radius: 2.5px;
      height: 200px;
      width: 100%;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat; }

.chapter-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  padding: 1rem 0 1rem; }
  .chapter-nav select {
    flex: 1 0 0;
    max-width: 100%;
    padding: 0.75rem;
    border-radius: 4px;
    font-weight: bold; }

section.rant .title {
  font-size: 24px;
  font-family: "Segoe UI", sans-serif; }

.socialmedia {
  display: flex;
  justify-content: center; }

.socialmedia div {
  padding: 15px 10px 20px; }
