// ==========================================================================
// Colors
// ==========================================================================

$white: #ffffff;
$grey: #111111;
$orange: #fd960f;
$dark-orange: orangered;
$brown: #1a090b;
$light-brown: #201214;

$transparent: transparent;

// ==========================================================================
// Syntactic Colors
// ==========================================================================

$accent: $orange;
$accent-dark: $dark-orange;

$body-background: $brown;
$container-background: $transparent;


