@charset "utf-8";

// Font
@import url('https://fonts.googleapis.com/css?family=Londrina+Solid:300,400');
@import "../../../node_modules/bulma/sass/base/minireset";

// Define some variables

$accent: #3273dc;
$accent-dark: darkblue;

$grey: #111;

$container-width: 800px;
$container-background: transparent;

$background-color: #efefef;

$font-title : "Segoe UI", sans-serif;
$font-color: #fcfcfc;

$nav-color: $background-color;
$navpage-color: transparent;

// ==========================================================================
// Site-wide Styles
// ==========================================================================

body {
	color: #2d2d2d;
	background-color: #efefef;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 0 0;

    font-family: 'Segoe UI', sans-serif;
}
 
::selection {
	background-color: $accent;
	color: white;
}

a {
	color: inherit; // Prevent links from having default link color.
	text-decoration: none;

	&:not([class]) {
		color: $accent;
	}

	&:hover {
		color: $accent-dark;
	}

	&:active {
		color: $accent;
	}
}

section {
	padding: 20px 0;
}

.title {
	font-weight: bold;
}

.description {
	line-height: 1.5;
	margin-top: 0.75rem;
}


// ==========================================================================
// Layout Styles
// ==========================================================================

figure.image img {
	display: block;	
}

figure.image-banner {
	position: relative;
	padding-bottom: 18.75%;

	img {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
} 

// ==========================================================================
// Helpers
// ==========================================================================

.is-hidden {
  display: none !important
}

.is-hidden-touch {
	display: none;	

} @media screen and (min-width: $container-width) {
	span.is-hidden-touch {
		display: inline-block;
	}
	.is-hidden-touch {
		display: block;
	}
}


// ==========================================================================
// Form
// ==========================================================================

.button, .input, .textarea, .select select, .file-cta, .filename {
	background: white;
	color: #363636;
	border: 1px solid #dbdbdb;

	padding: 0.75em;
	border-radius: 4px;

	box-shadow: none;
	display: inline-flex;
	line-height: 1.4
} 

//
// Button 
// 
 
.button {
	font-weight: bold;
	font-size: 1rem;
	padding: 0.75rem 1.5rem;
	text-align: center;
	justify-content: center;
	cursor: pointer;
	transition: 0.25s ease all;

	&.is-primary {
		color: white;
		background-color: $accent;
	}

	&.is-danger {
		color: white;
		background-color: $accent-dark;
	}

	&.is-small {
		padding: 0.5rem 1rem;
		margin-bottom: 0.75rem;
	}

	&:visited {
		background-color: whitesmoke;
	}

	&.is-primary:visited {
		background-color: $accent;
	}

	&:focus {
		border: 1px solid $accent;
	}

	&.is-disabled {
		background: lightgray;
		cursor: not-allowed;
	}

	&.is-disabled:hover {
		background: lightgray;
		color: black;
	}

	&.full{
		width: 100%;
		margin-bottom: 0.75rem
	}

} 

.field {
	margin: 0.5rem 0;
}

label.label {
	font-weight: bold;
	display: inline-block;
	margin-bottom: 0.5rem;
}

.input, .textarea, .file-cta, .select select  {
	max-width: 100%;
	width: 100%;
}

.input, .textarea {
	box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.1);
}

.textarea {
	min-height: 6rem;
}

.select select {
	cursor: pointer;
	display: block;
	font-size: 1em;
	outline: none;
}

// ==========================================================================
// Container
// ==========================================================================

.container {
	margin: 0 auto;
	padding: 0 15px;
	position: relative;
	max-width: $container-width;

	background-color: white;

	&.has-no-padding {
		padding: 0;
	}

	&.has-no-background {
		background-color: transparent;
		color: white;
	}
}

// ==========================================================================
// Header
// ==========================================================================

.header {

	.container {
		background-color: transparent;
	}

	&-banner {
		transition: 0.25s ease all;

		&:hover {
			opacity: 0.75;
			transition: 0.25s ease all;
		}
	}

}

//
// Navbar 
//

.navbar {
	color: white;
	background: #2d2d2d;

	font-family: $font-title;
	font-size: 1.25rem;
	font-weight: bold;
	
	display: flex;
	justify-content: space-between;
} @media screen and (min-width: $container-width) {
	.navbar {
		border-radius: 5px 5px 0 0;
	}
}

.navbar-start {
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex: 1 1 0;
}

.navbar-item {
	font-weight: 400;
	display: block;
	padding: 0.75rem;
	border-bottom: 3px solid transparent;
} .navbar-item.active {
	color: $accent;
	border-bottom: 3px solid $accent;
}

.navbar-item:hover{
	color: $accent;
	background: #0d0d0d;
}

// ==========================================================================
// Footer
// ==========================================================================

footer.footer .container {
	padding-top: 20px;
	padding-bottom: 20px;
}

// ==========================================================================
// Next/Prev Nav
// ==========================================================================

.navpage {
	color: white;
	display: flex;
	justify-content: center;
	align-content: center;	

	margin: 1.25rem 0.75rem 0;
} @media screen and (min-width: $container-width) {
	.navpage {
		color: transparent;
		font-size: 1.25rem;
		font-weight: 400;
	}
}

.navpage-item {
	padding: 28px;
	height: 64px ;
	width: 64px;
	user-select: none;
	height: initial !important;
	text-align: center;
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
} 

.navpage-item:hover {
	user-select: none;
	color: transparent;
}

.navpage-item[rel=prev] {
	background-image: url("../../../image/nav_adjacent.png");
}

.navpage-item[rel=next] {
	background-image: url("../../../image/nav_adjacent.png");
	transform: scaleX(-1);
}

.navpage-item[aria-button=first] {
	background-image: url("../../../image/nav_far.png");
}

.navpage-item[aria-button=last] {
	background-image: url("../../../image/nav_far.png");
	transform: scaleX(-1);
}

.navpage-item[aria-button=archive] {
	background-image: url("../../../image/nav_archive.png");
}

@media screen and (min-width: $container-width) {

	.navpage-item {
		height: 96px !important;
		width: 96px !important;
	}
}


div.navpage-item {
	opacity: 0.15;
}

a.navpage-item:hover{
	filter: brightness(125%);
}

a.navpage-item:active{
	filter: brightness(200%);
}

// ==========================================================================
// Admin
// ==========================================================================

ul.chapter-list form {
	display: inline-block;
}

.chapter-move {
	margin: 0;
}

.chapter-move > .button {
	font-size: 0.75rem;
	padding: 0.25rem 0.5rem;
}


// ==========================================================================
// Updates
// ==========================================================================

section.updates {

	padding: 0;

	.container	{
		background: white;		
	}
	
	.updates-header {
		color: #efefef;
		background-color: #2d2d2d;

		font-size: 1.75rem;
		font-family: $font-title;
		text-transform: uppercase;	
		text-align: center;

		padding: 15px 0;
		margin: 0 -15px;

		border-radius: 3px;
	}

	.updates-content {

		display: flex;
		flex-direction: column;

		color: #2d2d2d;

		@media screen and (min-width:  $container-width) {
			flex-direction: row
		}

		div.rant {
			@media screen and (min-width: $container-width) {
				padding-right: 15px;
			}
		}

		div.recently {

			min-width: 50%;
			padding-top: 20px;

			h2 {
				font-size: 18px;
				font-family: $font-title;
				font-weight: bold;
			}

			ul {
				list-style: circle;
				padding: 20px;
			}

			li+li {
				margin-top: 10px;
			}
		}
	}

}


// ==========================================================================
// Comic
// ==========================================================================

.comic {
	margin-left: -15px;
	margin-right: -15px;

	.comic-link {
		width: 50%;
		height: 100%;
		position: absolute;

		.prev {
			left: 0;
		}
		.next {
			right: 0;
		}
	}
}

.comic img {
	width: 100%;
}

section.comic-content {

	background: transparent;

	padding: 20px;

	h2.title {
		font-family: $font-title;
		font-size: 24px;
	}

	.date {
		font-family: $font-title;
		font-style: italic;
		font-weight: 300;
	}

	.description {
		
	}

	.transcript {
		display: none;
		border: 1px dotted #ccc;
		border-radius: 5px;
		padding: 20px;

		margin: 30px 0 0;

		h3.title {
			font-weight: bold
		}

		&.active {
			display: block;
		}

	}

	#transcript-toggle {
		display: none;
	}

}

// ==========================================================================
// Archive
// ==========================================================================

section.archive {
	.title {
		font-size: 36px;
		font-family: $font-title;
	}

	.description {

	}
}

.archive-item {

	display: flex;
	flex-direction: row;
	margin: 0.75rem 0;

	&:last-child {
		margin-bottom: -0.25rem;
	}

	.cover-image {
		max-width: 33%;

		margin: 0;
		margin-top: 0;
		margin-bottom: 0.75rem;
		
		@media screen and (min-width: $container-width) {
			max-width: 200px;
			min-width: 200px;
			height: 283px;			
		}
	}

	.content {

		padding-left: 20px;

		.title {
			font-size: 18px;

			@media screen and (min-width: $container-width) {
				font-size: 24px;
			}
		}

		.description {
			padding-bottom: 20px;
		}

		.buttons {
			display: flex;
			flex-direction: column;

			@media screen and (min-width: $container-width) {
				flex-direction: row;
			}

			.button-wrapper {
				min-width: 50%;
			}

			.button-wrapper+.button-wrapper {
				@media screen and (min-width: $container-width) {
					padding-left: 10px
				}
			}
		}

	}
}

// ==========================================================================
// Chapter
// ==========================================================================

section.chapter {

	.title {
		font-size: 30px;
		font-family: $font-title;

		margin-bottom: -15px;
	}

	.description {
		margin-bottom: 20px;
	}

	.return {
		margin-bottom: 20px;
	}

	ul {

		display: flex;
		flex-wrap: wrap;

		li {

			min-width: 150px;
			flex: 1 1 0;

			a {
				display: inline-block;
				border: 1px solid $grey;
				border-radius: 2.5px;
				height: 200px;
				width: 100%;
				background-size: cover;
				background-position: center;
				background-repeat: no-repeat;				
			}
		}
	}
}


// ==========================================================================
// Read Module
// ==========================================================================

.chapter-nav {
	display: flex;
	justify-content: space-between;
	align-items: center;

	position: sticky;
	top: 0;
	
	padding: 1rem 0 1rem;

	select {
		flex: 1 0 0;
		
		max-width: 100%;
		padding: 0.75rem;
		border-radius: 4px;

		font-weight: bold;
	}
}

// ==========================================================================
// Chapter List
// ==========================================================================

section.chapter-list{

	.title {
		font-size: 30px;
		font-family: $font-title;
	}

	.description {

	}

	ul {

		margin-top: 30px;

		display: flex;
		flex-wrap: wrap;

		li {
			flex: 0 1 50%;
			margin-bottom: 10px;

			@media screen and (min-width: $container-width) {
				flex: 0 1 20%;
			}

			.chapter-cover {
				max-width: 100%;
				padding-right: 7px;
			}

			.chapter-title h3 {
				font-size: 18px;
				font-weight: bold;
				font-family: $font-title;
				margin: 5px 0;
			}

		}
	}
}

// ==========================================================================
// Rant
// ==========================================================================

section.rant {
	.title {
		font-size: 24px;
		font-family: $font-title
	}

	.date {

	}

	.description {

	}
}


// ==========================================================================
// Rants List
// ==========================================================================

section.rant-list {
	.title {
		font-size: 30px;
		font-family: $font-title
	}

	.description {
		
	}

	ul {
		margin-top: 20px;

		li {
			border: 1px dotted #ccc;
			border-radius: 5px;
			padding: 20px;
			margin: 5px 0;

			.rant-title {
				font-size: 24px;
				font-weight: bold;
				font-family: $font-title;
			}

			.rant-date {
				font-style: italic;
			}
		}
	}
}

// ==========================================================================
// Admin
// ==========================================================================

section.admin {

	h2 {
		font-size: 24px;
		font-weight: bold;
		font-family: $font-title;
	}

	ul.list {
		li {
			padding: 5px;
			border: 1px solid #ccc;
			margin: 2px 0;
		}
	}

}

// ==========================================================================
// Social Media
// ==========================================================================

.socialmedia {
	display: flex;
	justify-content: center;
}

.socialmedia div {
	padding: 15px 10px 20px;
}