@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Changa+One');

@import "../../../node_modules/bulma/sass/utilities/_all";
@import "../../../node_modules/bulma/sass/base/_all";
@import "../../../node_modules/bulma/sass/grid/columns";
@import "../../../node_modules/bulma/sass/components/navbar";
@import "../../../node_modules/bulma/sass/components/card";
@import "../../../node_modules/bulma/sass/elements/image";
@import "../../../node_modules/bulma/sass/elements/content";
@import "../../../node_modules/bulma/sass/elements/icon";
@import "../../../node_modules/bulma/sass/elements/button";
@import "../../../node_modules/bulma/sass/elements/form";

body {
	background: $white-ter;
}

// BULMA - Content Altered

.content .title:not(:last-child) {
	margin-bottom: 0.25rem;
}

// Comic Module Styles

.description {
	margin-top: 0.75rem;
}


// Section Style

section.section {
	padding-top: 20px;
}

// Container Styles

.container { 
	margin: 0 auto;
	padding: 0 15px;
	position: relative;
	max-width: 680px;
}

.container.has-no-padding {
	padding: 0;
}

header.header .container {
	background: $white;
}

main.main .container {
	padding-bottom: 20px;
	background: $white;
}

footer.footer .container {
	padding-top: 20px;
	padding-bottom: 20px;
	color: $grey;
	background: $dark;
}

// Header Styles

.header-banner {
	transition: 0.25s ease all;
}

.header-banner:hover{
	opacity: 0.75;
	transition: 0.25s ease all;
}

// Next/Prev Nav Styles

.navpage {
	font-family: "Changa One", sans-serif;
	text-transform: uppercase;

	margin-left: -15px;
	margin-right: -15px;

	display: flex;
	justify-content: center;
	align-items: center;
}

.navpage a:hover {
	color: white !important;
}

.navpage div {
	color: $white-ter;
}

.navpage-item {
	min-height: 3.25rem;
	padding: 0.75rem 0.75rem;

	line-height: 1.5;
	text-align: center;
}

// Image styles

figure.image img {
	display: block;	
}

// Admin Page Styles

ul.chapter-list form {
	display: inline-block;
}

// Chapter Page Styles 

.chapter .image {
	height: 200px;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}